{% extends 'base.html' %}

{% block titulo %}
    Lista de Unidades Académicas
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de Unidades Académicas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Unidad Académica</th>
                <th>Abreviación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for unidad in unidades %}
              <tr>
                <td>{{unidad.nombre}}</td>
                <td>
                    {% if unidad.abreviacion %}
                        {{unidad.abreviacion}}
                    {% else %}
                        No tiene
                    {% endif %}
                </td>
                <td><a class="btn btn-block btn-outline-danger btn-sm" href="{% url 'eliminar_unidad' unidad.id %}">Eliminar</a></td>
                <td><a class="btn btn-block btn-outline-info btn-sm" href="{% url 'editar_unidad' unidad.id %}">Editar</a></td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
