<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p>
            Unidades
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right">6</span>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'lista_unidades' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Lista</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            Programas
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{% url 'lista_programas' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Lista</p>
            </a>
        </li>
    </ul>
</li>