<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calificaciones</title>
</head>
<body>
    <h1>Calificaciones</h1>
    <table>
        <thead>
            <tr>
                <th>Materia</th>
                <th>Calificación</th>
            </tr>
        </thead>
        <tbody>
            {% for calificacion in calificaciones %}
                <tr>
                    <td>{{calificacion.materia}}</td>
                    <td>{{calificacion.calif}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>